@import-normalize; /* bring in normalize.css styles */

body {
  font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ade5f9;
    min-height: 100vh;
    background: url('https://source.unsplash.com/iFu2HILEng8');
    background-position: center;
    background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
li {
  margin: 0;
  padding: 0;
}
